body {
    margin: 2rem !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(15 23 42 / 1) !important;
    .modal-content {
        background-color: #121b20;
        color: white;
    }
    .modal-header {
        border-bottom: none;
    }
    .hstack {
        align-items: flex-start;
        justify-content: space-around;
    }
    .card {
        width: 20rem;
    }
}

footer {
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
